@use "./variables" as *;

.main-content {
  margin-top: 3rem;
}

a {
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: $bg-card;
  min-width: 200px;
  height: 100%;
  border-radius: $border-radius-image;
  cursor: pointer;
  padding: 1rem;
  overflow: hidden;
  color: $text-color;
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  transform-origin: center center;

  &:hover {
    box-shadow: $box-shadow-card;
    transform: scale(1.05);
    color: $text-color-hover;
  }

  img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: $border-radius-image;
    display: block;
  }

  .card-title {
    flex-grow: 1;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    margin: 0.5rem 0 0;
    text-align: center;
  }
  .footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }
  .release-date {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    text-align: center;
  }
}

.stars {
  display: flex;
  gap: 2px;
  .gold {
    color: $star-gold;
  }
  .gray {
    color: $star-gray;
  }
  .half-star {
    position: relative;
    display: inline-block;
    width: 1rem;
    overflow: hidden;
    .gold {
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
    }
    .gray {
      color: $star-gray;
    }
  }
}

.media-section {
  margin: 0 40px;
  padding-bottom: 40px;
  &.similar {
    margin: 0;
    margin-top: 2rem;
    &.media-list {
      margin: 40px 0;
      padding: 0;
      &.scroll {
        display: flex;
        scroll-snap-type: x mandatory;
        gap: 20px;
        padding: 0 20px;
        overflow-x: auto;
        overflow-y: hidden;

        &.similar {
          margin: 0;
          padding: 20px;
        }
      }
    }
  }

  .media-section-title {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
    text-shadow: $text-shadow;
    letter-spacing: 2px;
  }
  .media-wrapper {
    position: relative;
    .scroll-indicator {
      position: absolute;
      top: 50%;
      transform: translateY(-50px);
      color: rgba(255, 255, 255, 0.3);
      z-index: 10;
      font-size: 3rem;
      display: none;
      &.left {
        left: 10px;
      }
      &.right {
        right: 10px;
      }
      &.scroll {
        display: inline-block;
      }
      @media (max-width: 499px) {
        &.grid {
          display: inline-block;
        }
      }
    }

    .media-list {
      &.grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;

        @media (max-width: 499px) {
          display: flex;
          scroll-snap-type: x mandatory;
          gap: 20px;
          padding: 0 20px;
          overflow-x: auto;
          overflow-y: hidden;
        }
      }
      &.scroll {
        display: flex;
        scroll-snap-type: x mandatory;
        gap: 20px;
        padding: 0 20px;
        overflow-x: auto;
        overflow-y: hidden;

        &.similar {
          margin: 0;
          padding: 20px 0;
        }
      }
    }
  }
}
.similar-images {
  border-radius: $border-radius-image;
  height: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.spinner {
  border: 8px solid #1953e3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
}
.spinner-text {
  position: absolute;
  text-align: center;
  font-size: 1.2rem;
  font-weight: $font-weight-semibold;
  color: #03063e;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.media-details {
  margin-top: 1.5rem;

  .media-hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    align-items: flex-end;
    @media (max-width: 768px) {
      justify-content: center;
      align-items: center;
    }

    .hero-content {
      display: flex;
      position: relative;
      max-width: 1400px;
      gap: 40px;
      align-items: flex-start;
      padding: 40px;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 0;
      }

      .media-poster {
        width: clamp(200px, 30vw, 400px);
        transition: all 0.6s ease;
        box-shadow: 0 10px 20px #00000080;
        img {
          width: 100%;
          display: block;
          border-radius: $border-radius-image;
        }
      }
      .media-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        gap: 20px;
        transition: all 0.5s ease;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        font-weight: $font-weight-semibold;

        @media (max-width: 768px) {
          align-items: center;
        }
        h1 {
          font-size: 2rem;
        }
        .rating {
          color: $star-gold;
        }
      }
      .details {
        display: flex;
        gap: 20px;
      }
      .media-genres {
        display: flex;
        gap: 10px;
        span {
          background: #fff3;
          padding: 5px 15px;
          border-radius: 20px;
          font-size: 1rem;
        }
      }
    }
  }
  .media-content {
    padding: 2.5rem;
    .overview {
      margin-bottom: 40px;
      h2 {
        margin-bottom: 20px;
      }
      p {
        line-height: 1.6;
      }
    }
    .cast-section {
      margin-top: 2rem;
      h2 {
        margin-bottom: 20px;
      }
      .cast-wrapper {
        position: relative;
        .scroll-indicator {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 3rem;
          color: rgba(255, 255, 255, 0.3);
          pointer-events: none; /* não bloqueia o scroll */
          user-select: none;
          z-index: 10;
          display: inline-block; /* aparece sempre, já que .cast-list sempre rola */
        }

        .scroll-indicator.left {
          left: 10px;
        }

        .scroll-indicator.right {
          right: 10px;
        }
      }

      .cast-list {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        padding-bottom: 40px;
        scroll-snap-type: x mandatory;
      }
      .cast-card {
        width: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        gap: 8px;
        .cast-photo {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background: #56525269;
          overflow: hidden;
          img {
            max-width: 100%;
          }
        }
        .cast-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 8px;
          .cast-name {
            font-weight: $font-weight-bold;
            min-height: 2.5rem;
            font-size: $font-size-sm;
            display: flex;
            align-items: flex-end;
            justify-content: center;
          }

          .cast-character {
            color: #ffffff9d;
            font-weight: $font-weight-semibold;
            font-size: $font-size-sm;
          }
        }
      }
    }
  }
}

footer {
  padding: 20px 40px;
  margin-bottom: 40px;
  color: hsla(251, 72%, 82%, 0.738);

  .glowText {
    color: hsla(251, 79%, 30%, 0.84);
    font-weight: $font-weight-bold;
    position: relative;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.4), 0 0 10px rgba(0, 255, 255, 0.3),
      0 0 20px rgba(0, 255, 255, 0.2);
  }
  p {
    display: flex;
    align-items: center;
    gap: 8px;
    .footer-github {
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        display: block;
        transition: filter 0.2s;
      }
      &:hover img {
        filter: brightness(0) invert(0.7);
      }
    }
  }
}
